<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title>Ristoranti</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script language="javascript" src="js/validate.js"></script>
</head>
<body>
	<form method="post" action="/doAddRestaurant" class="container" 
						onsubmit="validateRistorante(nome, descrizione, ubicazione, event);">
		<label for="nome">Nome Ristorante:*</label> 
		<input class="form-control" type="text" 
				placeholder="Nome ristorante"
				name="nome"
				id="nome"/>
				
		<label for="descrizione">Descrizione:*</label> 
		<input class="form-control" type="text" 
				placeholder="Descrizione ristorante"
				name="descrizione"
				id="descrizione"/>
				
		<label for="ubicazione">Cap Ubicazione:*</label> 
		<input class="form-control" type="text" 
				placeholder="Ubicazione ristorante"
				name="ubicazione"
				id="ubicazione"/>
		<div th:each="piatto : ${piatti}" >
			<label class="form-check-label">
				<input type="checkbox" th:value="${piatto.id}"
					th:onselect = "|selezionaPiatto(${piatto.id}, ${piatto.prezzo});|" />
				<span th:text="${piatto.nome}"> </span>
				Prezzo: <strong>
					<span th:text="${piatto.prezzo}"> </span>
					</strong>
					
			</label>
		</div>

				 
				 
				
		<input type="submit" class="btn btn-primary"/>
			
	</form>
</body>
</html>