<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recensioni</title>
</head>
<body>
	<!--  commento -->
	<p>In questa tabella puoi trovare tutti i ristoranti dove è possibile scrivere recensioni</p>
	<table border="1">
		<tr> 
			<th>Nome Ristorante</th>
			<th>CAP Ubicazione</th>
			<th>Piatti serviti</th>
			<!--  
			<th>Numero Recensioni</th>
			-->
		</tr>
		
		<tr th:each="ristPiatto : ${lista_ristoranti}" >
			<td th:text="${ristPiatto.ristorante.nome}"></td>
			<td th:text="${ristPiatto.ristorante.ubicazione}"></td>
			<td>
				<span th:each="piatto : ${ristPiatto.piatti}" >
					<span th:text="${piatto.nome}">						
					</span>,
				</span>
			</td>
			<!-- Commento Scorrere i piatti 
			<td th:text="${ristPiatto.ristorante.ubicazione}"></td>
			-->
		</tr>
		
		<!-- 
		<tr>
			<td>Ristorante/Pizzeria le Casette di Zio Santino</td>
			<td>45</td>
		</tr>
		<tr>
			<td>Osteria degli Hernández</td>
			<td>74</td>
		</tr>
		<tr>
			<td>Pizzeria Iammè Ià</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Ristorante Nessuno</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Stagionato Pomodoro</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Cicciò</td>
			<td>11</td>
		</tr>
		 -->
	</table>
	<!-- 
	<a href="../index.html"><< Torna alla Home Page (versione percorso relativo)</a><br/>
		<a href="/"><< Torna alla Home Page (versione percorso assoluto)</a>
	-->	
	<a href="/"><< Torna alla Home Page</a>
</body>
</html>